body {
	font-family: 'Ubuntu', sans-serif;
}

header {
	background-image: url(../img/header.jpg);
	background-repeat: no-repeat;
	background-position: top;
	-webkit-background-size: cover;
	background-size: cover;
	/*max-width: 1260px;*/
	height: 100vh;
	padding-top: 7.19vh;
	padding-bottom: 8.24vh;
}

.top-line__logo {
	background-image: url(../img/logo.png);
	width: 115px;
	min-height: 76px;
}

.top-line__logo:hover {
	border-bottom: 0px;
}

.top-line--item:first-child {
	margin-bottom: 15px;
}
.top-line--item:not(:first-child) {
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.6);
	line-height: 36px;
	font-size: 16px;
	min-width: 152px;
}

.dushed-border:hover {
	border-bottom: 1px dashed #ffffff;
}

.top-line--item>a {
	color: rgba(255, 255, 255, 0.6);
}

.description__title {
  font-size: 48px;
  text-transform: uppercase;
  line-height: 60px;
}

.description__title>span {
	font-weight: 300;
}

.bluetext {
	color: #00aaef;
}