header {
	background-image: url(../img/header.jpg);
	background-repeat: no-repeat;
	background-position: top;
	-webkit-background-size: cover;
	background-size: cover;
	max-width: 1260px;
	height: 100vh;
	padding-top: 7.19vh;
	padding-bottom: 8.24vh;
}

/*.header__top-line {
	margin-top: 7.19vh;
}*/

.top-line--item a {
	display: block;
	background-image: url(../img/logo.png);
	width: 115px;
	min-height: 76px;
	margin: auto;
}

.top-line--item:nth-child(2) {
	min-width: 115px;
}